/* Styles for Product Listing Component */
.product-title {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .product-name {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 1.1em;
    color: #777;
    margin: 10px 0;
  }
  
  .add-to-cart-btn {
    background: #ff7e5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s;
  }
  
  .add-to-cart-btn:hover {
    background: #feb47b;
    transform: scale(1.05);
  }
  